body {
    background-color: #111111;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: "Helvetica Neue", serif;
    font-size: 130%;
    font-weight: bold;
}

.sidenav a:hover, .offcanvas a:focus{
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#input_hashtag{
    font-size: 2em;
    color: #606060;
}

.front_page {
    text-align: center;

    margin: auto;
    display: block;
}
.front_page button {
    width: 5em;
}

#main_heading {
    font-size: 600%;
    color: white;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
}

#result, #loading {
    color: white;
    font-family: Helvetica Neue, serif;
    font-weight: lighter;
    text-align: center;
    font-size: 200%;
    padding: 0;
    margin: 0;
}

.login_prompt {
    font-size: 75%;
}

.explanation {
    color: white;
    font-family: Helvetica Neue, serif;
    font-weight: 300;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    line-height: 140%;
}

#what_is_this {
    transition: 0.2s;
    text-decoration: none;
}

#validation {
    color: red;
    font-family: "Helvetica Neue", serif;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    margin: auto;
    display: block;
}

.login_link {
    text-decoration: underline;
    color: white;
    font-style: italic;
}
.login_link:hover {
    text-decoration: underline;
    color: gray;
    font-style: italic;
}
.notify {
    font-size: 0.5em;
    font-style: italic;
    color: red;
    font-weight: 200;
}
.login_limitations {
    font-size: 0.5em;
    font-style: italic;
    color: white;
    font-weight: 200;
}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:gray; }
a:focus { text-decoration: none; color:white}
a:hover, a:active { text-decoration: none; color:white }